.left-tool-bar {
    width: 60px;
    height: 100vh;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid var(--hover-background);
    /** #e0e0e0; */
}

.left-tool-bar .home {
    padding: 0 6px;
    border-radius: 5px;
    background-color: transparent;
    transition: 0.3s;
}

.left-tool-bar .home:hover {
    background-color: var(--hover-background);
}

.left-tool-bar .home .iconfont {
    font-size: 24px;
    color: var(--foreground);
}

.left-tool-bar .section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    padding: 10px 0;
    margin: 6px 0;
}

.left-tool-bar .section .instance {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    padding: 0 6px;
    margin-bottom: 10px;
    border-radius: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    background-color: var(--hover-background);
    transition: 0.3s;
}

.left-tool-bar .section .instance:hover {
    border-radius: 5px;
    background-color: var(--hover-background);
}
